# Database Configuration (MySQL)
DATABASE_URL="mysql://spk_user:spk_password@localhost:3307/spk_stunting"

# Redis Cache & Queue
REDIS_URL="redis://localhost:6380"

# Calculation Engine URL (FastAPI)
ENGINE_API_URL="http://localhost:8000"

# NextAuth Authentication
NEXTAUTH_SECRET="super-secret-jwt-key-spk-stunting-2026"
NEXTAUTH_URL="http://localhost:3000"
