# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/

# environment variables
.env*.local
.env
!.env.example

# Docker & Database volumes
mysql_data/
redis_data/
*.log

# misc
.DS_Store
Thumbs.db
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
